:root {
    --dark: #333;
    --primary: #c7ecee;
    --darkdark: #222;
    --secondary: #f4f4f4;
    --clr: #B3CEE5;
    --pFs: 1rem; 
    --mainH2fs: 3rem;
    --textareaFs: 1rem;
    --placeFs: 1rem;
    --movieBtn: .9rem;
    --bodyImg: 50rem;

    /* synopsis variables */
    --synopsisH3: 1.3rem;
    --synopsisP: 1rem;
    --synopsisWidth: 25rem;

    /* video Variables */
    --videoWidth: 35rem;
    --videoHeight: 20rem;

    /* textmodal variables */
    --textModal: 34rem;
    --textModalH2: 1rem;
    --textModalHeight: 20rem;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    line-height: 1.6;
    letter-spacing: 1px;
}

body .bg-img {
    background-image: url('https://images.pexels.com/photos/4004374/pexels-photo-4004374.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: var(--bodyImg);
}

body .overlay-img {
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: var(--bodyImg);
}

header .main-title {
    color: var(--secondary);
    font-size: var(--mainH2fs);
    margin: 7.5rem 3rem 3rem 3rem;
    border-left: 5px solid crimson;
    padding-left: 1rem;
     
}


main .video-container {
    height: 28em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-inline: 5rem;
    margin-bottom: 5rem ;
}

main .video-container .direct-video {
    align-self: center;
}

main .video-container .direct-video video {
    outline: 1px solid var(--clr);
    background-color: #000;
    width: var(--videoWidth); 
    height: var(--videoHeight);
}


main .video-container .synopsis-container {
    width: var(--synopsisWidth);
    height: auto;
    background-color: rgba(2,2,2,0.8);
    padding: 1em;
    /* backdrop-filter: blur(.1em); */
    border: 1px solid crimson;
    border-radius: 10px;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: auto;
}

main .video-container .synopsis-container h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: var(--synopsisH3);
}

main .video-container .synopsis-container p {
    font-size: var(--synopsisP);
}

main .video-container .synopsis-container button {
    align-self: flex-start;
}

/* Buttons */

main .video-container .direct-video .buttons-features {
    display: flex;
    gap: 1.4rem;
}

body button {
    margin-top: 1.5em;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid var(--clr);
    border-radius: 6px;
    padding: .5rem;
    transition: all .4s;
    font-size: var(--movieBtn);
}

body button:hover {
    background-color: crimson;
    border: 1px solid crimson;
    cursor: pointer;
}

 .comment-modal {
    position: fixed;
    inset: 0 0 0 0;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    height: 45rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
    z-index: 9999;
}

.comment-modal .text-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: var(--textModal);
    height: var(--textModalHeight); 
}

.comment-modal .text-modal h2 {
    font-size: var(--textModalH2);
}

.comment-modal .text-modal textarea {
    width: 100%;
    height: 100%;
    color: var(--secondary);
    background-color: var(--dark);
    padding: 1rem;
    border: none;
    outline: none;
    transition: all .2s;
}

.comment-modal .text-modal textarea::placeholder {
    color: var(--clr);
    font-size: var(--placeFs);
}

.comment-modal .text-modal textarea:focus {
    outline: 2px solid var(--secondary);
    font-size: var(--textareaFs);
}

.comment-modal .text-modal > div {
    align-self: flex-start;
    display: flex;
    gap: 1rem;
}

[data-visibility="true"] {
    transform: translateY(0);
}

[data-visibility="false"] {
    transform: translateY(55rem);
}


/* animation */
body .movie-anim {
    animation: open 1.3s;
}

@keyframes open {
    from {
        opacity: 0;
        transform: translateY(-55em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Media queries */

@media screen and (max-width: 1140px) {
   :root {
    /* synopsis variables */
    --synopsisH3: 1rem;
    --synopsisP: .9rem;
    --movieBtn: .7rem;

    /* Video Variables */
    --videoWidth: 25rem;
    --videoHeight: 14rem;
   }

   main .video-container .synopsis-container {
    align-self: flex-start;
   }
}

@media screen and (max-width: 980px) {
    :root {
        --bodyImg: 60rem;
        --synopsisWidth: 35rem;
        --mainH2fs: 2.5rem;
    }

    .overlay-img .navigation ul li {
        margin-bottom: 0;
    }

    main .video-container {
        flex-direction: column-reverse;
        margin-top: 15rem;
        gap: 4rem;
    }

    main .video-container .synopsis-container {
        align-self: center;
    }
}

@media screen and (max-width: 677px) {
    .comment-modal .text-modal {
        width: 80%;
    }

    .comment-modal .text-modal textarea {
        width: 100%;
        align-self: center;
    }

    .comment-modal .text-modal h2 {
        text-align: center;
    }

    .comment-modal .text-modal textarea::placeholder {
        font-size: .8rem;
        letter-spacing: .1rem;
    }


}

@media screen and (max-width: 590px) {
    :root {
        --synopsisWidth: 30rem;
        --marginSynopsis: 18rem;
        --textModal: 28rem;
    }

    main .video-container {
        margin-top: var(--marginSynopsis);
    }
}

@media screen and (max-width: 540px) {

    .overlay-img .navigation ul {
        column-gap: 2.5rem;
        
    }
}

@media screen and (max-width: 532px) {
    :root {
        --bodyImg: 65rem;
        --synopsisWidth: 25rem;
        --mainH2fs: 1.8rem;
        --marginSynopsis: 20rem;
        --textModal: 24rem;
        --textModalHeight: 20rem;
    }
}

/* for mobile devices */

@media screen and (max-width: 435px) {
    :root {
        --bodyImg: 68rem;
        --synopsisWidth: 20rem;
        --synopsisP: .8rem;
        --mainH2fs: 2.2rem;
        --marginSynopsis: 22rem;
        --textModal: 20rem;

        /* Video Variables */
        --videoWidth: 19rem;
        --videoHeight: 14rem;
        --textModalH2: .8rem;
    }

     body .movie-anim .main-title {
        margin: 7.5rem 3rem 3rem 2rem;   
    } 

    .movie-anim .video-con2 {
        margin-top: 18rem;
    }

    .movie-anim .video-con3 {
        margin-top: 19.3rem;
    }

    .movie-anim .video-con4 {
        margin-top: 16rem;
    }

    .movie-anim .video-con5 {
        margin-top: 20.3rem;
    }


     .movie-anim .mainTitle2 {
        font-size: 1.5rem;
    }

    body .bgImg2 {
        height: 60rem;
    }

    body .overImg2 {
        height: 60rem;
    }

    body .bgImg3 {
        height: 65rem;
    }

    body .overImg3 {
        height: 65rem;
    }
}

