:root {
    --dark: #333;
    --primary: #c7ecee;
    --darkdark: #222;
    --secondary: #f4f4f4;
    --clr: #B3CEE5;
    --h3fs: 2.2rem;
    --h2fs: 3rem;
    --navFs: 1rem;
    --btnfs: 1.1rem;
    --inputFs: .8rem;
    --imgWidth: 14em;
    --imgHeight: 16em;
    --arrowFs: 2rem;
    --arrowUpFs: 1.7rem;
    --pFs: 1rem;
    --paraFs: 1rem;
    
    /* login variables */
    --modalWidth: 30rem;
    --modalHeight: 36rem;
    --modalImg: 7rem;
    --modalText: ;
    --modalBtn: ;

    /* Genre variables */
    --genreNav: 1.3rem;
    --genreCross: 1.6rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
    line-height: 1.6;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkdark);
}

.navigation h3 {
    margin-right: 1rem;
    color: crimson;
    font-size: var(--h3fs);
    padding-block: .4em;
}

.navigation span {
    color: var(--secondary);
}

div.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(54, 54, 54, .6);

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 999;  
}

.navigation ul {
    display: flex;
    column-gap: 5rem;
    list-style-type: none;
    text-align: right;
    justify-content: space-evenly;
    align-items: center;
    transition: all .4s;
    padding-right: 3rem;
    margin-left: 1.5rem;
    align-self: center;
}

.navigation ul .nav {
    font-size: var(--navFs);
    
}

.navigation .symbol {
    margin-inline: 1em;
}

.navigation .symbol a {
    text-decoration: none;
    transition: all .4s;
}

.navigation .symbol a:hover {
    color: crimson;
    
}

.navigation #input {
    font-size: var(--inputFs);
    width: 23em;
    padding: .4em;
    color: #222;
    outline: none;
    border: none;
    background-color: var(--secondary);
    border-radius: 10px;
}


.navigation ul .xToggle{
    display: none;
}

.navigation .menuToggle {
    background-color: transparent;
    border: none;
    outline: none;
    appearance: none;
    font-size: 1.01rem;
    display: none;
    margin-block: .4em;
}

.navigation ul li a {
    text-decoration: none;
    color:  var(--secondary);
    position: relative;
}

.navigation ul li .nav::before {
    content: "";
    background-color: crimson;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -5px;
    transform: scale(0);
    transition: all .5s;
}

.navigation ul li .nav:hover::before {
    transform: scale(1);
}



.wrapper {
    margin-block: 8em;
    margin-inline: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5em;
}

.wrapper .header {
    width: 25em;
    text-align: justify;
    align-self: center;
    background-color: var(--dark);
    padding: 3em;
    border: 1px solid var(--clr);
    outline: 10px solid var(--dark);
}

.card .inner-card .img {
    width: 20em;
    min-height: 30em;
    border: 1px solid var(--secondary);
    outline: 10px solid var(--dark);
    transition: all .4s;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card .inner-card h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: .4em;
}

.wrapper .header .title {
    font-size: var(--h2fs);
    margin-bottom: .5em;
}

.wrapper .header .para {
    margin-bottom: 5em;
    font-size: var(--paraFs);
}

.wrapper .header .title span {
    color: crimson;
}

.wrapper .header .btn {
    padding: .6em;
    padding-inline: 2em;
    border: 2px solid var(--clr);
    border-radius: 1.5em;
    font-size: var(--btnfs);
    font-weight: 100;
    position: relative;
    z-index: 2;
    color: var(--primary);
    transition: all .4s;
}

.wrapper .header .btn::after {
    content: "";
    background-color: crimson;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    border-radius: 1.5em;
    z-index: -1;
    transition: all .4s;
}

.wrapper .header .btn:hover::after {
    left: 0;
    right: 0;
    opacity: 1;
}

.wrapper .header .btn:hover {
    cursor: pointer;
    color: var(--clr);
    border: 2px solid crimson;
}

/* footer section */

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--dark);
    padding-block: 3em;
}

footer > * {
    opacity: .8;
}

footer h3 {
    font-size: calc(.9rem + .8vw);
}

footer p {
    font-size: calc(.6rem + .6vw);
}

/* images transition */

[data-src="data1"] {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/0/09/DC_League_of_Super-Pets.jpg");
}

[data-src="data2"] {
    background-image: url("https://pbs.twimg.com/media/Ej8M_TZWkAAll1Z.jpg");
}

[data-src="data3"] {
    background-image: url('https://lumiere-a.akamaihd.net/v1/images/p_drstrangeinthemultiverseofmadness_245_476cabb1.jpeg');
}

[data-src="data4"] {
    background-image: url("https://lumiere-a.akamaihd.net/v1/images/p_thorloveandthunder_639_593cb642.jpeg");
}

/* modal section */

.modal-container {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    inset: 0 0 0 0;
    width: 100%;
    z-index: 999;

    display: none;
    justify-content: center;
    align-items: center;
    animation: opacity .4s;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.modal-container .modal-wrapper {
    display: flex;
    flex-direction: column;
    gap: .4em;
    background-color: var(--dark);
    width: var(--modalWidth);
    min-height: var(--modalHeight);
    border: 1px solid var(--secondary);
    border-radius: 1em;
    animation: scale .4s;
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.modal-container .modal-wrapper div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.modal-container .modal-wrapper label {
    width: 70%;
}

.modal-container .modal-wrapper img {
    border: 4px solid crimson;
    border-radius: 50%;
    display: block;
    margin-inline: auto;
    width: var(--modalImg);
}

.modal-container input {
    padding: .4em;
    font-size: 1rem;
    width: 100%;
    appearance: none;
    border: none;
    outline: none;
    margin-top: .5em;
    margin-inline: auto;
    display: block;
}

.modal-container p {
    font-size: calc(.7rem + .5vw);
    text-align: center;
}

.modal-container input, .modal-container .logBtn {
    color: #000;
    border: none;
    outline: none;
    transition: all .4s;
    
}

.modal-container .logBtn:hover {
    cursor: pointer;
    background-color: crimson;
    color: var(--secondary);
}

.modal-container .logBtn {
    width: 40%;
    padding-block: .5em;
    font-size: 1rem;
}

.modal-container .cross {
    background-color: transparent;
    border: none;
    outline: none;
    align-self: flex-end;
    margin-inline: 1em;
    margin-top: 1em;
    font-size: 1.4em;
    transition: all .3s;
}

.modal-container .cross:hover {
    cursor: pointer;
    color: crimson;
}
    
.modal-container .modal-wrapper [data-signUp="false"] {
    display: none;
    gap: .8em; 
}

.modal-container div .signBtn {
    margin-top: 1em;
    
} 

.modal-container [data-sign]:hover {
    color: cyan;
    transition: all .4s;
}



/* page 2 */

.main-container {
    margin-top: 8em;
    width: 100%;
    animation: movies 1s;
    transform: translateX(0);
}

@keyframes movies {
    from {
        opacity: 0;
        transform: translateX(-15em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.main-container h2 {
    font-size: var(--h2fs);
    margin-left: 1em;
    margin-bottom: 1em;
    border-left: 3px solid crimson;
    padding-left: .3em;
}

.main-container .flex-box {
    display: flex;
    justify-content: center;
}

.main-container .flex-box .movies-container {
   display: flex;
   gap: 1em;
   width: 100vw;
   overflow: hidden;
   margin-inline: 2em;
   position: relative; 
}



.main-container .flex-box .movies-container a div {
    border: 1px solid crimson;
    background-color: var(--dark);
    padding: 1em .7em;
    transform: translateX(0);
    transition: all .5s;
    margin-bottom: 2.6rem;
}

.main-container .flex-box .movies-container a div:hover {
    border: 1px solid var(--clr); 
}

.main-container .flex-box .movies-container a {
    text-decoration: none;
}

.main-container .flex-box .movies-container a div p {
    color: var(--secondary);
    font-size: var(--pFs);
    text-align: center;
}

.main-container .flex-box .movies-container img {
    width: var(--imgWidth); /* 14em */
    height: var(--imgHeight); /* 16em */
    display: block;
    margin-inline: auto;
    margin-bottom: 1em;
}

.main-container .flex-box .movies-container img:hover .movies-container > div {
    border: 1px solid var(--secondary);
}


.flex-box .arrow {
    color: var(--secondary);
    align-self: center;
    font-size: var(--arrowFs);
    background-color: rgba(0,0,0,0.6);
    border: 0;
    outline: 0;
    border-radius: 50%;
    padding-inline: .5em; 
    transition: all .4s;
}

.flex-box .arrow:hover {
    cursor: pointer;
}

.flex-box .arrow:active {
    color: #222;
    background-color: var(--secondary);
}

.flex-box .right {
    margin-right: 1em;
    transform: translateX(0)
}

.flex-box .right:hover {
    transform: translateX(.3em);
}

.flex-box .left {
    margin-left: 1em;
}

.flex-box .left:hover {
    transform: translateX(-.3em);
}

/* Arrow up */

.arrow-up-none {
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    
    margin: 3rem;
    z-index: 10;
    font-size: var(--arrowUpFs);
    text-decoration: none;
    background-color: #000;
    padding-inline: 1em;
    padding-block: .4em; 
    border-radius: 50%; 
    transition: all .5s; 
}

.arrow-up {
    opacity: .7;
}

.genres-container {
    display: none;
}

.genres-button {
    display: none;
}

/* horror section */

.main-container .movie-title {
    margin-top: 2em;
}

/* end of page2 */

 
/* Media Queries */

 @media (max-width: 1296px) {
    :root {
        --imgWidth: 13rem;
        --imgHeight: 15rem;
    }

    

}

@media (max-width: 1133px) {
    :root {
        --imgWidth: 12.5rem;
        --imgHeight: 14.5rem;
    }

}

@media (max-width: 1086px) {
    :root {
        --imgWidth: 11.8rem;
        --imgHeight: 13.8rem;
    }

}

@media (max-width: 963px) {
    .wrapper {
        margin-top: 9rem;
    }
    
    .main-container .flex-box .last-genre {
        margin-bottom: 6rem;
    }
}

@media (max-width: 975px) {
     
    :root {
        --imgWidth: 10rem;
        --imgHeight: 12rem;
    }

    .main-container .flex-box .movies-container {
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: .8rem;
    }

     .arrow {
        display: none;
     }  

     .main-container .flex-box .movies-container a div   {
        margin-bottom: 0;
     }
}

@media (max-width: 860px) { 
    
    .modal-container .modal-wrapper {
        width: var(--modalWidth);
        padding-bottom: 2em;
    }

    .navigation #input {
        width: 20em;
    }
}

@media (max-width: 652px) {
    :root {
        --imgWidth: 9rem;
        --imgHeight: 11rem;
        --pFs: .8rem; 
    }
}


@media (max-width: 595px) {

    :root {
        --h3fs: 1.7rem;
        --h2fs: 3rem;
        --pFs: 1rem;
        --arrowFs: 1.7rem;
        --modalImg: 6rem;
    }

    .navigation {
        padding: .6rem;
    }

    .main-container {
        margin-top: 10rem;
    }

    .flex-box .right {
        margin-right: .5em;
    }

    .flex-box .left {
        margin-left: .5em;
    }

    .wrapper .header {
        transform: scale(.9);
    }

    .wrapper .card {
        transform: scale(.9);
    }

    .modal-container .modal-wrapper {
        transform: scale(.9);
        width: var(--modalWidth);
    }
    
    

    .navigation ul li {
        margin-bottom: 0;
    }

    
}

 
@media (max-width: 510px) {

    :root {
        --inputFs: .745rem;
        
        --pFs: 1rem;
        --h3fs: 2rem;
    }
    
    .navigation {
        padding: 0;
    }

    .navigation ul li.genres-button {
        display: block;
    }
    
    
    .navigation ul {
        display: none;
    }

    .navigation > div {
        display: none;
    }

    .navigation [data-toggle="true"] {
        position: fixed;
        inset: 0 0 0 100%;
        background-color: rgba(0,0,0,0.6);
        opacity: 0;
        z-index: 3;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 3.4em;
        padding-top: 3em;
        gap: 2.5em;
    }

    .navigation [data-toggle="false"] {
        position: fixed;
        inset: 0 0 0 20%;
        background-color: rgba(0,0,0,0.9);
        z-index: 3;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 3.4em;
        padding-top: 3em;
        gap: 2.5em;
        /* backdrop-filter: blur(.2em); */
    }

    .navigation ul .xToggle {
        align-self: flex-end;
        margin-right: 2em;
        font-size: 1.3rem;
        display: block;
    }

    .navigation .menuToggle {
        display: block;
        align-self: center;
        margin-top: .4em; 
        margin-right: 2em;
    }

    .main-container {
        margin-top: 8rem;
    }

    /* genres list */
    
    .genres-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(0,0,0,0.7);
        width: 100%;
        min-height: 37rem;

        position: fixed;
        inset: 0 0 0 0;
        z-index: 999;
        backdrop-filter: blur(.5rem);
        transition: all 1s;
    }

    .genres-container .cross-genres {
        align-self: flex-end;
        margin: 4rem 3rem 4rem 0;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: var(--genreCross);
    }

    .genres-container .inner-genres-container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .genres-container .inner-genres-container a {
        text-decoration: none;
        font-size: var(--genreNav);
        text-align: center;
    }


    body [data-genres-visible] {
        transform: translateY(0);
    }

    body [data-genres-hide] {
    transform: translateY(55em); 
    }

    .wrapper {
        margin-top: 5rem;
    }




}

@media (max-width: 476px) {

    .navigation ul {
        padding: .8em;
    }
    
}

@media (max-width: 413px) {
    :root {
        --imgWidth: 6rem;
        --imgHeight: 8rem;
        --pFs: .8rem;
        --h2fs: 1.6rem;
        --paraFs: .9rem;
        --btnfs: .9rem;
    }

    .wrapper {
        margin-top: 7rem;
        gap: 1rem;
    }

    .main-container .flex-box .movies-container {
        row-gap: 2rem;
        display: grid;
        grid-template-columns: auto auto;
    }

    .wrapper .header .para {
        margin-bottom: 2rem;
    }
}

@media (max-width: 376px) {


    .main-container .flex-box .movies-container {
        width: 100%;
        margin-top: 0;
    }
    

    .wrapper .header {
        transform: scale(.9);
    }

    .navigation #input {
        width: 17em;
    }

    .modal-container .modal-wrapper {
        transform: scale(.9);
        width: var(--modalWidth);
    }

    .main-container .flex-box .movies-container a div .longTitle {
        font-size: .7rem;
    }

}




